{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block titr %}{% block title %}داشبورد{% endblock title %}{% endblock titr %}
{% block main %}
    <br>
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border bg-primary">
                    <h3 class="box-title" style="color: #fefefe">اطلاعات کاربری</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                            {{ form.first_name | as_crispy_field }}
                        </div>
                        <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                            {{ form.last_name | as_crispy_field }}
                        </div>
                        <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                            {{ form.email | as_crispy_field }}
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-success" type="submit">ثبت</button>
                        <a class="btn btn-danger" href="{% url 'dashboard:password_change' %}">تغییر رمز عبور</a>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>
{% endblock main %}