{% extends 'dashboard/base.html' %}
{% block titr %}{% block title %} تغییر رمز عبور {% endblock title %}{% endblock titr %}
{% block main %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>تغییر</strong>
                        پسورد
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="alert alert-success">
                                <p class="align-center">
                                    رمز عبور شما با موفقیت تغییر پیدا کرد
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}